.category-banner-container{
    background-color: #fff;
    display: flex;
    padding: 30px 10px 30px 30px;
    flex-wrap: wrap;
    row-gap: 10px;
    @media only screen and (max-width:767px){
        padding: 30px 10px;
    }
    .back-btn-container{
        flex: 0 0 45px;
        height: 45px;
        border: 1px solid #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
        svg{
            font-size: 24px;
            color: #999999;
        }
        @media only screen and (max-width:475px){
            order: 1;
        }
    }
    .category-banner-title-container{
        padding-left: 15px;
        .category-title{
            margin: 0;
        }
        .category-sub-title{
            margin: 0;
            color: #999999;
        }
        @media only screen and (max-width:475px){
            order: 3;
        }
    }
    .category-banner-breadcrumbs-container{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding-right: 15px;
        @media only screen and (max-width: 1024px){
            flex: 0 0 75%;
            justify-content: flex-start;
            align-items: center;
        }
        @media only screen and (max-width:475px){
            padding-right: 0;
            order: 4;
        }
        .breadcrumbs-wrapper{
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            column-gap: 30px;
            @media only screen and (max-width:475px){
                column-gap: 20px;
            }
            .breadcrumb{
                position: relative;
                font-size: 16px;
                color: #999999;
                &:not(:last-child)::after{
                    content: '>';
                    position: absolute;
                    right: -18px;
                    @media only screen and (max-width:475px){
                        right: -12px;
                    }
                }
            }
        }
    }
}